.pxl-modal {
  transition: all 500ms;

  &.pxl-layer--active,
  &.pxl-layer--behind {
    .pxl-modal__container {
      transform: translateY(0);
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    @include padding(30px);
  }

  &__away {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    size: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom, #8e2de2, #4a00e0);
    opacity: 0.15;
  }

  &__container {
    position: relative;
    z-index: 2;
    background-color: $white;
    width: 600px;
    color: $gray-600;
    transform: translateY(-100%);
    transition: all 500ms;
    @include padding(15px);
  }
}
