.w-tooltip {
  position: relative;
  display: inline-block;

  &:hover {
    .w-tooltip__body {
      @include visible(true);
    }
  }

  &.w-tooltip--top {
    .w-tooltip__body {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 5px;
    }
  }
  &.w-tooltip--right {
    .w-tooltip__body {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      margin-left: 5px;
    }
  }
  &.w-tooltip--bottom {
    .w-tooltip__body {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 5px;
    }
  }

  &__body {
    position: absolute;
    background-color: rgba(darken($black, 10%), 0.75);
    color: $white;
    font-size: pxRem(14);
    border-radius: 3px;
    pointer-events: none;
    width: 120px;
    text-align: center;
    transition: all 500ms;
    @include padding(4px 8px);
    @include visible(false);
  }
}
