meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title #{head_titleTemplate.replace('%s', head_title)}
meta(name='theme-color', content="#000")
block stylesheets
  include ./stylesheets.pug
link(rel='icon', type='image/png', sizes='192x192', href='favicon.png')
