mixin BottomBar()
  .pxl-bottombar
    button.pxl-bottombar__big
      .pxl-bottombar__big__icon
        +svg({ name: 'home', class: 'icon-normal' })
        +svg({ name: 'home-filled', class: 'icon-filled' })
    .pxl-bottombar__wrapper
      button.pxl-bottombar__item(href="#")
        .pxl-bottombar__item__icon
          +svg({ name: 'home', class: 'icon-normal' })
          +svg({ name: 'home-filled', class: 'icon-filled' })
        .pxl-bottombar__item__label
          span Home
      button.pxl-bottombar__item.active(href="#")
        .pxl-bottombar__item__icon
          span.pxl-bottombar__item__notifier 0
          +svg({ name: 'shopping-bag', class: 'icon-normal' })
          +svg({ name: 'shopping-bag-filled', class: 'icon-filled' })
        .pxl-bottombar__item__label
          span Cart
      .pxl-bottombar__seperator
      button.pxl-bottombar__item(href="#")
        .pxl-bottombar__item__icon
          +svg({ name: 'settings', class: 'icon-normal' })
          +svg({ name: 'settings-filled', class: 'icon-filled' })
        .pxl-bottombar__item__label
          span Settings
      button.pxl-bottombar__item(href="#")
        .pxl-bottombar__item__icon
          span.pxl-bottombar__item__notifier 0
          +svg({ name: 'heart', class: 'icon-normal' })
          +svg({ name: 'heart-filled', class: 'icon-filled' })
        .pxl-bottombar__item__label
          span Likes
