mixin modal(args)
  +layer({
    class: "pxl-modal",
    ':class': `{ 'pxl-layer--active': layer.items['${args.tag}'] === 1, 'pxl-layer--behind': layer.items['${args.tag}'] === 2 }`
  })
    .pxl-modal__body&attributes(args.body)
      label.pxl-modal__away(@click=`${args.away}`)
      .pxl-modal__container&attributes(args.container)
        div(style="text-align: right")
          label(@click=`${args.away}`, style="cursor: pointer; font-size: 24px") &times;
        block
