extends layouts/default/_init.pug

block fixed
  +c-drawer-navigation

block body
  h1= data.name

  div(style="margin: 48px;")
    a.c-button(href="#", data-dn-trigger="default")
      +svg('home', 'animated')
      strong Hello World

  p.denemeFont Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
    a(href="#") Hello world
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum voluptate illo ex reprehenderit iste perferendis laborum saepe quidem non iusto autem aliquam dolores, fugit asperiores. Asperiores eligendi necessitatibus aperiam.
  hr
