mixin c-drawer-navigation(args)
  // aside.w-drawer-navigation 
  aside.w-drawer-navigation.w-drawer-navigation--bottom(data-dn="default")
    .w-drawer-navigation__wrapper
      .w-drawer-navigation__wrapper__center
        +c-slide-nav
  // ## aside.w-drawer-navigation 
