mixin c-drawer-navigation(args)
  // aside.w-drawer-navigation 
  aside.w-drawer-navigation.w-drawer-navigation--left.w-drawer-navigation--activated(data-drawer-navigation="default")
    .w-drawer-navigation__wrapper
      .w-drawer-navigation__wrapper__center
        +c-slide-nav
  // ## aside.w-drawer-navigation 
